body {
  background-color: #ddd;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 15px;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  padding: 0%;
  transform: translateY(-50%);
}

p {
  font-family: Helvetica, sans-serif;
}

.grid {
  padding: 2em;
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid: auto / repeat(auto-fit, minmax(190px, 1fr));
  gap: 1em 2em;
}

header {
  align-self: center;
  text-align: start;
}

.pladsmellemtekst {
  margin: 6%;
}

.pladsmellemtekst2 {
  margin: 20%;
}

@media (max-width: 768px) {
  .pladsmellemtekst {
    flex-basis: 50%;
  }
}
@media (max-width: 567px) {
  .grid {
    flex-basis: 100%;
  }
}
